@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(96.75% 68.76% at 1.88% -6.01%, #292D3C 0%, #0E0F17 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

